<meta http-equiv="refresh" content="30" >
<h1>Status Dashboard</h1>

<div class="list-group">
  <% @users.each do |u| %>
    <%= content_tag(:li, nil, :class => "list-group-item #{u.status.status.delete(' ')}") do %>
    <%= u.name.ljust(100, ' ') %>|<%= u.status.status.rjust(500, ' ') %>
    <%end %>

  <% end %>
</div>

<br>
<% if current_user %>
  <%= link_to 'New User', new_user_path %>
<% end %>
