
<h1>Status Dashboard</h1>

<div class="list-group">
  <% @users.each do |u| %>
    <%= content_tag(:li, nil, :class => "list-group-item #{u.status.status.delete(' ').downcase}") do %>
    <div class="status-item"><div class="col-md-2"><%= u.name%></div><div class="col-md-8">| <%= u.status.status %></div></div>
    <%end %>

  <% end %>
</div>

<br>
<% if current_user %>
  <%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
<% end %>
