<aside>
<nav class="navbar navbar-default" role="navigation" background-color="#2980b9">

   <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" 
    aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>

  </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1"> 
           <ul class="nav navbar-nav navbar-right">
            <li class="nav-list-border">
            <li class="nav-list-border"><%= link_to "About", '#',
        :onclick => 'alert("IQC SpaceTrax \nVersion 0.000.100 \nDeveloped by: Dylan Totzke \nInstitute for Quantum Computing \nUniversity of Waterloo \nCopyright \u00A92020 Dylan Totzke")'%></li>
        <li class="nav-list-border">
      <% if current_user %>
          <%= link_to "#{current_user.name}", current_user %>
          </li><li class="nav-list-border"><%= link_to 'Sign Out', sessions_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign In', new_sessions_path %>
        <% end %>
        </li>
          </li>
        </ul>
    </div>
</nav>
